<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../css/skins/_all-skins.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>M</b>I</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Maximity</b>Ibeacon</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
              
              <!-- User Account: style can be found in dropdown.less -->
              
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside id="menu" class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Device
            <small>edit</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="/">home</a></li>
            <li><a href="/device">device</a></li>
            <li class="active"><a href="#">edit</a></li>           </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <!-- Small boxes (Stat box) -->
          
          <div class="row">
                <!-- left column -->
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/device/<%=device.id%>" method="post">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="" value="<%=device.name%>">
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputPassword1">Type</label>
                      <input type="text" name="type" class="form-control" id="exampleInputPassword1" placeholder="" value="<%=device.type%>">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">UUID</label>
                      <input type="text" name="uuid" class="form-control" id="exampleInputPassword1" placeholder="" value="<%=device.uuid%>">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Major</label>
                      <input type="text" name="major" class="form-control" id="exampleInputPassword1" placeholder="" value="<%=device.major%>">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Minor</label>
                      <input type="text" name="minor" class="form-control" id="exampleInputPassword1" placeholder="" value="<%=device.minor%>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Location Type</label>
                        <select class="form-control" id="type" name="location_type">
                            <option value="">所有位置类</option>
                            <option value="公交站">公交站</option>
                            <option value="公交车">公交车</option>
                            <option value="电梯">电梯</option>
                            <option value="路名牌">路名牌</option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label>State</label>
                      <select id="state" class="form-control" name="state">
                        <option value="<%=device.state%>" selected><%=device.state%></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>City</label>
                      <select id="city" class="form-control" name="city">
                        <option value="<%=device.city%>" selected><%=device.city%></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Region</label>
                      <select id="region" class="form-control" name="region">
                        <option value="<%=device.region%>"><%=device.region%></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Street</label>
                      <select id="street" class="form-control" name="street">
                        <option value="<%=device.street%>"><%=device.street%></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">CangBaoJie Name</label>
                      <input type="text" name="cangbaojie_name" class="form-control" id="exampleInputPassword1" placeholder="" value="<%=device.cangbaojie_name%>">
                    </div>

                    
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                </form>
              </div><!-- /.box -->

            </div>
          </div><!-- /.row -->
          <!-- Main row -->
          <div class="row">
            <!-- Left col -->
            
          </div><!-- /.row (main row) -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 2.3.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
      </footer>

      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- jQuery 2.1.4 -->
    <script src="../../plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../../plugins/jQueryUI/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <script>
      $.widget.bridge('uibutton', $.ui.button);
      $(function(){
        $('#menu').load('/user-menu');
        $.ajax({
          url: "/geo/state",
          beforeSend: function( xhr ) {
            //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
          }
        })
        .done(function( data ) {
          var option; html = "";
          while (data.length) {
            //code
            var state = data.pop();
            option = "";
            if (state!="<%=device.state%>") {
              option = "<option value='"+state+"'>"+state+"</option>";
            }
            html = html + option;
          }
          $("#state").append(html);
        });
        var selectedState = $("#state option:selected").text();
        
        $.ajax({
        url: "/geo/city?state="+selectedState,
        beforeSend: function( xhr ) {
          //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
        }).done(function(data){
          var html = "";
          while (data.length) {
            var city = data.pop();
            option = "";
            if (city!="<%=device.city%>") {
            option = "<option value='"+city+"'>"+city+"</option>";
            }
            html = html + option;
          }
          $("#city").append(html);
        });
        
        selectedCity = $("#city option:selected").text();
        selectedState = $("#state option:selected").text();
        $.ajax({
        url: "/geo/region?state="+selectedState+"&city="+selectedCity,
        beforeSend: function( xhr ) {
          //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
        }).done(function(data){
          var html = "";
          while (data.length) {
            var region = data.pop();
            option = "";
            if(region!="<%=device.region%>"){
            option = "<option value='"+region+"'>"+region+"</option>";
            }
            html = html + option;
          }
          $("#region").append(html);
        });   
            
        selectedCity = $("#city option:selected").text();
        selectedState = $("#state option:selected").text();
        selectedRegion = $("#region option:selected").text();
        $.ajax({
        url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
        beforeSend: function( xhr ) {
          //xhr.overrideMimeType( "text/plain; charset=x-user-defined" );
        }
        }).done(function(data){
          var html = "";
          while (data.length) {
            var street = data.pop();
            option = "";
            if(street!="<%=device.street%>"){
            option = "<option value='"+street+"'>"+street+"</option>";
            }
            html = html + option;
          }
          $("#street").append(html);
        });        
          
        
        
      
       
      
      $("#state").change(function(){
        var selectedState = $("#state option:selected").text();
        $("#city").empty();
        $("#region").empty();
        $("#street").empty();
        $.ajax({
        url: "/geo/city?state="+selectedState
        }).done(function(data){
          $("#city").empty();
          $("#city").append("<option value=''>所有城市</option>");
          html = "";
          while (data.length) {
            var city = data.pop();
            option = "<option value='"+city+"'>"+city+"</option>";
            html = html + option;
            //code
          }
          $("#city").append(html);
          });
      });
    
    $("#city").change(function(){
        var selectedState = $("#state option:selected").text();
        var selectedCity = $("#city option:selected").text();
        $("#region").empty();
        $("#street").empty();
        $.ajax({
        url: "/geo/region?state="+selectedState+"&city="+selectedCity,
        }).done(function(data){
          //alert(data);
          $("#region").empty();
          $("#region").append("<option value=''>所有地区</option>");
          html = "";
          while (data.length) {
            var region = data.pop();
            option = "<option value='"+region+"'>"+region+"</option>";
            html = html + option;
            //code
          }
          $("#region").append(html);
        });
      })
    $("#region").change(function(){
        var selectedState = $("#state option:selected").text();
        var selectedCity = $("#city option:selected").text();
        var selectedRegion = $("#region option:selected").text();
        $("#street").empty();
        
        $.ajax({
        url: "/geo/street?state="+selectedState+"&city="+selectedCity+"&region="+selectedRegion,
        }).done(function(data){
          //alert(data);
          $("#street").empty();
          $("#street").append("<option value=''>所有地区</option>");
          html = "";
          while (data.length) {
            var area = data.pop();
            option = "<option value='"+area+"'>"+area+"</option>";
            html = html + option;
            //code
          }
          $("#street").append(html);
        });
      })
      

        });
    </script>

    <!-- Bootstrap 3.3.5 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/demo.js"></script>
    <!-- Morris.js charts -->
    

    <!-- AdminLTE App -->
    <script src="../../js/app.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../../js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    
  </body>
</html>
